<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="container" style="max-width: 300px;">
    <h1 class="text-center mb-4">Add a car</h1>
    <form #form (submit) ="onFormSubmit()">
      <div>
        <div class="mb-3">
          <input type="text" class="form-control" id="carName" name="carName" placeholder="Name"
            required [value]="model.name" (input)="model.name = $any($event.target).value" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="carNumber" name="carNumber" placeholder="Registration number"
            required [value]="model.registration_number" (input)="model.registration_number = $any($event.target).value" />
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" id="carAccidentCount" name="carAccidentCount" placeholder="Accident count"
            required [value]="model.accident_count" (input)="model.accident_count = $any($event.target).value" />
        </div>
        <div class="mb-3">
          <input type="date" class="form-control" id="carRegistrationDate" name="carRegistrationDate" placeholder="Registration date"
            required [value]="model.registration_date" (input)="model.registration_date = $any($event.target).value" />
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Add Car</button>
        </div>
      </div>
    </form>
  </div>
</div>