################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Semestru 2/OOP/lab/oop_lab10-11/lab10-11/lab10-11/prodGUI.qrc
/Semestru 2/OOP/lab/oop_lab10-11/lab10-11/lab10-11/prodGUI.ui
