img {
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color:ghostwhite;
}

.content {
    background-color: yellow;
    margin: 20px;
    width: 50%;
    border: 1px solid black;
    min-width: 400px;
}

.image_div {
    display: flex;
    justify-content: left;
    align-items: center;
}
