<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<connectionStrings>
		<add name="children_events" connectionString="Data Source=./children_events.db;Version=3"/>
	</connectionStrings>
	<appSettings>
		<add key="EncryptionKey" value="1011200410112004" />
		<add key="Port" value="55556"/>
		<add key="Ip" value="127.0.0.1"/>
	</appSettings>
</configuration>