<div class="justify-content-center align-items-center m-5"  id="container">
    <div class="alert" [ngClass]="{'alert-success': (userStatus$ | async), 'alert-danger': !(userStatus$ | async)}">
      {{ (userStatus$ | async) ? 'User is online' : 'User is offline' }}
    </div>
    <div *ngIf="selectedCar$ | async as selectedCar" class="card">
      <div class="justify-content-center align-items-start p-2">
        <h5 class="card-title">{{selectedCar.name}}</h5>
        <p  class="card-title">Reg: {{selectedCar.registration_number}}</p>
        <p  class="card-title">Accidents: {{selectedCar.accident_count}}</p>
        <p  class="card-title">Date: {{selectedCar.registration_date}}</p>
      </div>
    </div>
    <div class="d-flex">
      <button class="btn btn-secondary m-1" (click)="goToSearch()">Search & filter</button>
      <button class="btn btn-secondary m-1" (click)="goToAccount()">Account</button>
      <button class="btn btn-secondary m-1" (click)="goToAdd()">Add car</button>
    </div>
    <div class="d-flex">
      <button class="btn btn-secondary m-1" (click)="goToAlbum()">Photo Album</button>
      <button class="btn btn-secondary m-1" (click)="goToMaps()">Maps</button>
    </div>
    <div class="mt-2 w" style="height: 400px; overflow-y: scroll;" (scroll)="onScrollContainer($event)">
      <table class="table table-bordered m-2">
        <tbody>
          <tr>
            <th>No.</th>
            <th>Name</th>
          </tr>
          <tr *ngFor="let car of cars; let i = index">
            <td>{{ i + 1 }}</td>
            <td><button class="btn btn-primary m-2 w-75" (click)="setInfoCar(car)">{{ car.name }}</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>