.vs/

bin/
obj/
out/

lab6/restAPI/restAPI/appsettings.json

*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.cache

*.exe
*.dll
*.pdb
*.log
*.cache
*.csproj.user
*.aps
*.ncb
*.opendb
*.ttf
*.pidb

.idea/
*.sln.iml

packages/
*.nupkg

.nupkg/
.nuget/

_ReSharper*/
*.DotSettings.user

Migrations/

*.tmp
*.bak
*.swp

*.dll
*.exe
*.appx
*.appxbundle
*.msix
*.msixbundle

logs/
*.log
.env
.env.*

TestResults/

coverage/
*.coverage
*.coveragexml
